-r ./requirements-package.in

flake8
hypothesis
jupyter
keyring<23.10.0  # otherwise importlib-metadata dependency bites with flake8. this is a dependency of twine.
mypy
pip-tools>=5.0.0
pytest
pytest-cov
Sphinx<7.3  # otherwise importlib-metadata dependency bites with flake8
tox
twine
virtualenv<20.16.3  # otherwise importlib-metadata dependency bites with flake8. this is a dependency of tox.
