name: Upload Python Package to PyPI

on:
  release:
    types: published

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0; prevent CWE-829
      with:
        enable-cache: true
        python-version: 3.12
    - name: Build wheel
      run: uv build --wheel
    - name: Upload wheel artifact
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*.whl

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist
    - name: pypi-publish
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
      with:
        packages-dir: dist

