name: Upload Python Package to PyPI

on:
  release:
    types: published

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.4; prevent CWE-829
      with:
        enable-cache: true
        python-version: 3.12
    - name: Build wheel
      run: uv build --wheel
    - name: Upload wheel artifact
      uses: actions/upload-artifact@v5
      with:
        name: dist
        path: dist/*.whl

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/download-artifact@v6
      with:
        name: dist
        path: dist
    - name: pypi-publish
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        packages-dir: dist

