# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ master ]
  workflow_dispatch:

permissions:
      contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix: { python-version: ["3.9","3.10","3.11","3.12", "3.13"] }
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v6.8.0; prevent CWE-829
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}
    - name: Run unit tests
      run: uv run nox --python ${{ matrix.python-version }} -s tests-${{ matrix.python-version }} # Run the specific test session
    - name: Run documentation tests
      run: uv run nox -s doctest
    
    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
      if: ${{ matrix.python-version == '3.12' }}

  lint_and_docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v6.8.0; prevent CWE-829
      with:
        enable-cache: true
        python-version: 3.12
    - name: check lock file
      run: uv lock --check
    - name: Lint via nox
      run: uv run nox -s lint_critical lint_style
      if: always()
    - name: Build docs
      run: uv run nox -s docs
      if: always()
