name: TEST Upload Python Package to PyPI

on:
    workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba # v6.3.1; prevent CWE-829
      with:
        enable-cache: true
        python-version: 3.12
    - name: Build wheel
      run: uv build --wheel
    - name: Upload wheel artifact
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*.whl

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/download-artifact@v5
      with:
        name: dist
        path: dist
    - name: pypi-publish
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
      with:
        packages-dir: dist
        repository-url: https://test.pypi.org/legacy/
        verbose: true
